@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<h2>Send him fan mail</h2>
<form style="align-content: center">
    <label>From:</label>
    <input id="from" type="text" /><br /><br />
    <label>Subject:</label>
    <input id="subject" type="text" /><br /><br />
    <label>Message:</label>
    <textarea id="message" rows="4"></textarea><br /><br />
    <input id="btnsend" type="button" value="Send Message">
</form>